@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand&display=swap');

.paper {
    display: none;
    background-color: #fff0f5;
    color: #8b0000;
    font-family: 'Quicksand', sans-serif;
    padding: 40px;
    margin: 50px auto;
    width: 85%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    line-height: 1.9;
    font-size: 18px;
    text-align: justify;
    position: relative;
}

.paper p::first-line {
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    color: #c2185b;
}


* {
    margin: 0px;
    padding: 0px;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.envelope {
    cursor: pointer;
    display: block;
    animation: moveVertical 2s ease-in-out infinite;
}

@keyframes moveVertical {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}